[submodule "_articles/dailynews"]
	path = _articles/dailynews
	url = https://github.com/thucydideantimes/dailynews
[submodule "_articles/militarytimes"]
	path = _articles/militarytimes
	url = https://github.com/thucydideantimes/militarytimes.git
[submodule "_articles/echoesofcapital"]
	path = _articles/echoesofcapital
	url = https://github.com/thucydideantimes/echoesofcapital.git
[submodule "_articles/yongledadian"]
	path = _articles/yongledadian
	url = https://github.com/thucydideantimes/yongledadian.git
[submodule "assets/articles/dailynews"]
	path = assets/articles/dailynews
	url = https://github.com/thucydideantimes/dailynews-assets.git
[submodule "assets/articles/echoesofcapital"]
	path = assets/articles/echoesofcapital
	url = https://github.com/thucydideantimes/echoesofcapital-assets.git
[submodule "assets/articles/yongledadian"]
	path = assets/articles/yongledadian
	url = https://github.com/thucydideantimes/yongledadian-assets.git
[submodule "assets/articles/militarytimes"]
	path = assets/articles/militarytimes
	url = https://github.com/thucydideantimes/militarytimes-assets.git
